extends ../layout

block content
    .container
        .row
            .col-md-7
                embed(src="#{movie.flash}" allowFullScreen="true", qulity="high", width='720', height='600', align="middle", type="application/x-shockwave-flash")
            .col-md-5
                dl.dl-horizontal
                    dt name
                    dd= movie.title
                    dt doctor
                    dd= movie.doctor
                    dt country
                    dd= movie.country
                    dt language
                    dd= movie.language
                    dt year
                    dd= movie.year
                    dt summary
                    dd= movie.summary
